<f:comment>
    The password and the same password again: two fields of one value,
    as one group.
</f:comment>
<formvh:renderRenderable renderable="{element}">
    <sds-field-group>
        <f:render partial="Soul/Control" arguments="{element: element, tag: 'sds-field', path: 'password', of: {type: 'password'}}" />
        <f:render partial="Soul/Control" arguments="{element: element, tag: 'sds-field', path: 'confirmation', labelProperty: 'confirmationLabel', of: {type: 'password'}}" />
    </sds-field-group>
</formvh:renderRenderable>
