<f:comment>
    Pages as a wall of cards: a way into each one. The abstract is the
    body, the description where there is none.
</f:comment>
<f:if condition="{menu}">
    <sds-grid>
        <f:for each="{menu}" as="page">
            <f:variable name="picture" value="" />
            <f:if condition="{page.files.0}">
                <f:variable name="picture">{f:uri.image(image: page.files.0, maxWidth: 800)}</f:variable>
            </f:if>
            <f:variable name="body">{f:if(condition: page.data.abstract, then: page.data.abstract, else: page.data.description)}</f:variable>
            <sds-card {soul:attributes(of: {heading: page.title, href: page.link, body: body, src: picture, alt: page.files.0.alternative})}></sds-card>
        </f:for>
    </sds-grid>
</f:if>
