<f:comment>
    Pages as a list of links, and the pages under each one as a list
    inside it. A sitemap is the same list at every depth.
</f:comment>
<f:if condition="{menu}">
    <ul>
        <f:for each="{menu}" as="page">
            <li>
                <sds-link {soul:attributes(of: {label: page.title, href: page.link})}></sds-link>
                <f:if condition="{page.content}">
                    <ul>
                        <f:for each="{page.content}" as="element">
                            <f:if condition="{element.data.header}">
                                <li><sds-link {soul:attributes(of: {label: element.data.header, href: '{page.link}#c{element.data.uid}'})}></sds-link></li>
                            </f:if>
                        </f:for>
                    </ul>
                </f:if>
                <f:render partial="Content/Links" arguments="{menu: page.children}" />
            </li>
        </f:for>
    </ul>
</f:if>
